* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 65px;
  color: #344034;
}
body {
  background-color: #f8f5f0;
}

.hero-area {
  background-image: url("../images/main-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.header_brand {
  display: flex;
  align-items: center;
  flex: 7.5;
  height: 45px;
  margin-left: 10px;
  padding-left: 40px;
  border-radius: 7px 0px 0px 7px;
  background-color: rgb(249, 249, 249, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header_brand h1 {
  font-family: "inter", sans-serif;
  font-size: clamp(16px, 2.5vw, 36px);
  font-weight: 500;
  letter-spacing: 0.3em;
}

.header_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2.5;
  height: 45px;
  margin-right: 10px;
  border-radius: 0px 7px 7px 0px;
  background-color: rgb(249, 249, 249, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.header_navigation ul {
  margin-inline: clamp(45px, 2vw, 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: clamp(45px, 2vw, 50px);
}

.header_navigation a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  font-size: 32px;
}
.hero {
  min-height: calc(100vh - 65px);
  display: flex;
  align-items: center;
}

.hero__content {
  color: #313b31;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: clamp(15px, 4vw, 100px);
  transform: translateY(-50%);
}
.hero__content h1 {
  letter-spacing: 0.2em;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(36px, 3.47vw, 60px);
  line-height: 1.4;
}

.hero__content p {
  letter-spacing: 0.2em;
  max-width: 550px;
  font-size: clamp(18px, 1.3vw, 24px);
  line-height: 1.5;
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
}
.menu {
  background-color: #f9f9f9;

  margin: clamp(20px, 2vw, 40px);
  height: auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.menu__subtitle {
  height: auto;
  width: calc(100% - 60px);
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(20px, 1.944vw, 40px);
  letter-spacing: 0.3em;
  color: #344034;
}

.menu__line {
  width: calc(100% - 60px);
  height: 3px;
  background-color: rgb(52, 64, 52, 0.85);
}
.menu__cards {
  --spacing: clamp(20px, 1vw, 40px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
  padding: var(--spacing);
}
.menu__card {
  padding: 7px;
  border-radius: 7px;
  height: 440px;
  box-shadow: inset 0px 0px 3px rgba(49, 59, 49, 0.5);
}

.menu__card-image {
  width: 100%;
  aspect-ratio: 330 / 220;
  object-fit: cover;
  border-radius: 5px;
}
.menu__card-title {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(16px, 1.67vw, 32px);
  letter-spacing: 0.1em;
  color: #344034;
}
