@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  @include flex-row-between(center);
  gap: 10px;
  width: 100%;
  height: $header-height;
  color: $color-primary;

  @media (max-width: 600px) {
    gap: 0px;
    height: auto;
  }

  &__brand {
    @include flex-row-between(center);
    flex: 7.5;
    height: $header-element-height;
    margin-left: 10px;
    padding-left: clamp(30px, 2vw, 50px);
    border-radius: $radius-header-brand;
    background-color: $color-background-header;
    box-shadow: $shadow-header;
    @media (max-width: 600px) {
      text-align: center;
      padding-inline: 10px;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }

    h1 {
      font-family: $font-primary;
      font-size: clamp(16px, 2.5vw, 36px);
      font-weight: $weight-medium;
      letter-spacing: $letter-spacing-big;
      @media (max-width: 600px) {
        letter-spacing: $letter-spacing-regular;
      }
    }
  }
  &__navigation {
    @include flex-row-center(center);
    flex: 2.5;
    height: $header-element-height;
    margin-right: 10px;
    border-radius: $radius-header-navigation;
    background-color: $color-background-header;
    box-shadow: $shadow-header;
    @media (max-width: 600px) {
      padding-inline: 5px;
      margin: 0;
      box-shadow: none;
    }

    ul {
      margin-inline: clamp(20px, 2vw, 50px);
      @include flex-row-between(center);
      width: 100%;
      gap: clamp(20px, 2vw, 50px);

      @media (max-width: 600px) {
        li:nth-child(3) {
          display: none;
        }
      }
    }
    a {
      @include flex-row-between(center);

      width: clamp(20px, 2.2vw, 32px);
      height: clamp(20px, 2.2vw, 32px);
      font-size: clamp(20px, 2.2vw, 32px);
      transition: color $transition-fast;

      &:hover {
        color: $color-primary-light;
      }
    }
  }
}
